<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle de un curso</title>
</head>
<body>

    <h2>Nombre: {{curso.nombre}}</h2>
    <h2>Descripción: {{curso.descripcion}}</h2>
    <h2>Precio: {{curso.precio}}</h2>
    {% if curso.activo %}
    <h2>Activo: SI</h2>
    {% else %}
    <h2>Activo: NO</h2>
    {% endif %}
    <h2>Turno: {{curso.turno}}</h2>

     <a href="{% url 'cursos:editar' curso.pk %}">Editar</a>

</body>
</html>